@charset "UTF-8";
html * { font-size:100.01%; }
textarea, pre, code, kbd, samp, var, tt {
    font-family:Consolas, "Lucida Console", "Andale Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier;
    font-size: 91.29%;
}
body { font-family:Arial, Helvetica, sans-serif; }
body { text-align: center; background-color: #005050; }
.page_margins { text-align: center; margin: 0 auto;
                min-width: 640px; padding: 24px; background: #FFD080;
}
.page_margins_startseite { text-align:left; margin: 0 auto;
                width: 640px; padding: 36px; background: #FFD080;
}
.page { padding: 10px; }
.banner { text-align: center; background: #005050; padding: 0px; margin: 0px; }
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-weight:normal;
    margin:0.5em 0 0.25em 0;
}
h1 { font-size:250%; }
h2 { font-size:200%; }
h3 { font-size:150%; }
h4 { font-size:133.33%; }
h5 { font-size:116.67%; }
h6 { font-size:116.67%; }
.datum { text-align: right; top-margin: 0px; }
.display { text-align: center; }
.symbol {
    display: inline-block; text-align: center; width: 310px;
    margin: 2px; padding: 1px; border: 2px solid gray;
}
.vorschau {
    display: inline-block; text-align: center; width: 266px;
    margin: 2px; padding: 1px; border: 2px solid gray;
}
dt { margin-top: 1ex; margin-bottom: 0px; }
dd { margin-top: 0px; }
dd p {
    margin-left: 2em; margin-top: 0px; margin-bottom: 0px;
    text-indent: -2em;
}
p.auswahl {
    margin-left: 2em; margin-top: 0.5ex; margin-bottom: 0.5ex;
    text-indent: -2em;
}

